/* Äußeres Grid-Layout */
.wrapper {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 1em;
  margin-right: 1em;
}

/* Formatieren aller Felder des Grids */
.box {
  background-color: black;
  border: white;
  color: #fff;
  border-radius: 0.2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

/* Platzieren des Dropdown-Menues */
.dropdown-menu {
  grid-column: 1;
  grid-row: 1;
}

/* Platzieren des "Bewertung hinzufügen"-Buttons */
.new-review {
  grid-column: 2;
  grid-row: 1;
  justify-self: end;
}

/* Erstes inneres Grid-Layout für existierende Bewertungen*/
.third-wrapper {
  grid-column: 1 / span 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1fr auto;
  grid-gap: 0.5em;
  box-shadow: 0 0 5px #888;
}

/* Platzieren des Datums der Bewertung */
.date {
  grid-column: 1;
  grid-row: 1;
  padding-top: 0.5em;
}

/* Platzieren des äüßeren Containers für vergebene Sterne */
.stars-outer {
  grid-column: 2;
  grid-row: 1;
  justify-self: end;
  font-family: FontAwesome;
}

/* Grid-Layout um die vollen und die leeren Sterne exakt übereinander zu legen */
.stars-inner {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

/* Formatieren der vollen Sterne */
.icon-star {
  color: #f8ce0b;
  display: none;
  margin-right: -0.3em;
}

/* Formatieren der leeren Sterne */
.icon-star-empty {
  color: #f8ce0b;
  margin-right: -0.3em;
}

/* Anordnen der vollen Sterne im Grid-Layout "stars-inner" */
.star {
  grid-column: 1;
  grid-row: 1;
  padding-top: 0.5em;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

/* Anordnen der leeren Sterne im Grid-Layout "stars-inner"  */
.star-empty {
  grid-column: 1;
  grid-row: 1;
  padding-top: 0.5em;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

/* Platzieren des Bewertungstext*/
.comment {
  grid-column: 1 / span 2;
  grid-row: 2;
  place-self: center;
}

/* Textausrichtung des Bewertungstextes */
.comment p {
  text-align: center;
}

/* Platzieren und formatieren des Containers für die "hilfreich"-Buttons */
.helpful {
  grid-column: 1 / span 2;
  grid-row: 3;
  padding-bottom: 0.5em;
}

/* Zweiter innerer Container für das Formular zum Ausfüllen einer neuen Bewertung */
.fourth-wrapper {
  grid-column: 1 / span 2;
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  grid-template-rows: 2.5fr auto;
  grid-gap: 0.5em;
  box-shadow: 0 0 5px #888;
}

/* Platzieren des Formulars zum Ausfüllen einer neuen Bewertung */
.new-review-container {
  grid-column: 1 / span 2;
  grid-row: 1;
}

/* Formatieren der textarea */
textarea {
  margin-bottom: 0em;
}

/* Formatieren des Formulars */
form {
  margin-bottom: 0.5em;
}

/* Grid-Layout zum Übereinanderlegen der vollen und leeren Sterne */
.review-star-grid {
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: 1fr;
  font-size: 25pt;
  margin-top: 0em;
}

/* Anordnen der vollen Sterne */
.review-star {
  grid-column: 2;
  grid-row: 1;
  padding-top: 0em;
  margin-bottom: 0em;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

/* Anordnen der leeren Sterne */
.review-star-empty {
  grid-column: 2;
  grid-row: 1;
  padding-top: 0em;
  margin-bottom: 0em;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */ */
}

/* Klasse zum sichtbar machen der vollen Sterne */
.show-stars {
  display: inline;
}

/* Hovern über leeren Sternen */
.review-star-empty i:hover {
  cursor: pointer;
}

/* Hovern über vollen Sternen */
.review-star i:hover {
  cursor: pointer;
}

/* Platzieren der Buttons zum Absenden und Abbrechen einer neuen Bewertung */
.submit-cancel-review {
  grid-column: 2;
  grid-row: 2;
  justify-self: end;
}

/* Dropdown Button --> Ordne nach */
.dropdown-button {
  position: relative;
  width: auto;
}

/* Dropdown Inhalt (Hidden by default)
** gleiche Breite wie Dropdown Button
 */
.dropdown-content {
  display: none;
  position: absolute;
  width: 100%
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Auswahlmöglichkeiten im Dropdown-Menue */
.dropdown-content a {
  color: blue;
  list-style-type: none;
  text-decoration: none;
  display: block;
  font-size: 90%;
  border: 0;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  padding-left: 0.9em;
  padding-right: 0.9em;
  color: white;
  background-color: rgb(17, 68, 121);
  transition: background-color 0.25s;
  box-shadow: 0 0 0.1em #6495ED;
  border-radius: 0.2em;
}

  /* Verändern der Auswahlmöglichkeiten beim Hovern */
.dropdown-content a:hover {
  cursor: pointer;
  color: white;
  font-weight: normal;
  background-color: rgb(28, 88, 150);
}

/* Klasse zum Anzeigen des Dropdown-Inhaltes */
.show {
  display:block;
}

/* Formatieren des Buttons zum Hinzufügen einer neuen Bewertung und zum sortieren
** der Bewertungen
 */
.review-button {
  font-size: 90%;
  border: 0;
  padding: 0.5em;
  color: white;
  background-color: rgb(17, 68, 121);
  transition: background-color 0.25s;
  box-shadow: 0 0 0.1em #6495ED;
  border-radius: 0.2em;
}

/* Hover-Effekt bei den Buttons zum Hinzufügen einer neuen Bewertung und zum sortieren
** der Bewertungen */
.review-button:hover {
    cursor: pointer;
    background-color: rgb(28, 88, 150);
}

/* Anpassem der Formular-Überschrift */
.new-review-header {
  font-weight: bold;
}

.review-input {
  /* font-family: "Arial", sans-serif; */
  /* font-size: 16pt; */
}

/* Formatieren des Buttons zum hochzählen der "hilfreich"-Variable in einer Bewertung */
.icon-thumbs-up, .icon-thumbs-down, .hilfreich-button {
  font-size: 90%;
  border: 0;
  padding: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  color: white;
  background-color: rgb(17, 68, 121);
  transition: background-color 0.25s;
  box-shadow: 0 0 0.1em #6495ED;
  border-radius: 0.2em;
}

/* Hover-Effekt bei Buttons zum hochzählen der "hilfreich"-Variable in einer Bewertung */
.icon-thumbs-up:hover, .icon-thumbs-down:hover, .hilfreich-button {
  cursor: pointer;
  background-color: rgb(28, 88, 150);
}
