/* Grid Layout */

.wrapper {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 1em;
  margin-right: 1em;
}

.box {
  background-color: black;
  border: white;
  color: #fff;
  border-radius: 0.2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.dropdown-menu {
  grid-column: 1;
  grid-row: 1;
}

.new-review {
  grid-column: 2;
  grid-row: 1;
  justify-self: end;
}

.third-wrapper {
  grid-column: 1 / span 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1fr auto;
  grid-gap: 0.5em;
  box-shadow: 0 0 5px #888;
}

.date {
  grid-column: 1;
  grid-row: 1;
  padding-top: 0.5em;
}

.stars-outer {
  grid-column: 2;
  grid-row: 1;
  justify-self: end;

  font-family: FontAwesome;
}

.stars-outer::before {
  /* color: white; */
}

.stars-inner {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.icon-star {
  color: #f8ce0b;
  display: none;
  margin-right: -0.3em;
}

.icon-star-empty {
  color: #f8ce0b;
  margin-right: -0.3em;
}

.star {
  grid-column: 1;
  grid-row: 1;
  padding-top: 0.5em;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.star-empty {
  grid-column: 1;
  grid-row: 1;
  padding-top: 0.5em;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.comment {
  grid-column: 1 / span 2;
  grid-row: 2;
  place-self: center;
}

.comment p {
  text-align: center;
}

.helpful {
  grid-column: 1 / span 2;
  grid-row: 3;
  padding-bottom: 0.5em;
}

/* Neue Bewertung schreiben */
.fourth-wrapper {
  grid-column: 1 / span 2;
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  grid-template-rows: 2.5fr auto;
  grid-gap: 0.5em;
  box-shadow: 0 0 5px #888;
}

.new-review-container {
  grid-column: 1 / span 2;
  grid-row: 1;
}

textarea {
  margin-bottom: 0em;
}

form {
  margin-bottom: 0.5em;
}

.review-star-grid {
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: 1fr;
  font-size: 25pt;
  margin-top: 0em;
}

.review-star {
  grid-column: 2;
  grid-row: 1;
  padding-top: 0em;
  margin-bottom: 0em;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.review-star-empty {
  grid-column: 2;
  grid-row: 1;
  padding-top: 0em;
  margin-bottom: 0em;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */ */
}

.show-stars {
  display: inline;
}

.review-star-empty i:hover {
  cursor: pointer;
}

.review-star i:hover {
  cursor: pointer;
}

.submit-cancel-review {
  grid-column: 2;
  grid-row: 2;
  justify-self: end;
}

/* Dropdown Button --> Ordne nach */
.dropdown-button {
  position: relative;
  width: auto;
}
/* Dropdown Content (Hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  width: 100%
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links in dropdown */
.dropdown-content a {
  color: blue;
  list-style-type: none;
  text-decoration: none;
  display: block;
  font-size: 90%;
  border: 0;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  padding-left: 0.9em;
  padding-right: 0.9em;
  color: white;
  background-color: rgb(17, 68, 121);
  transition: background-color 0.25s;
  box-shadow: 0 0 0.1em #6495ED;
  border-radius: 0.2em;
}

  /* change color of dropdown Links on hover */
.dropdown-content a:hover {
  cursor: pointer;
  color: white;
  font-weight: normal;
  background-color: rgb(28, 88, 150);
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content
container when the user clicks on the dropdown button)  */
.show {
  display:block;
}

.review-button {
  font-size: 90%;
  border: 0;
  padding: 0.5em;
  color: white;
  background-color: rgb(17, 68, 121);
  transition: background-color 0.25s;
  box-shadow: 0 0 0.1em #6495ED;
  border-radius: 0.2em;
}

.review-button:hover {
    cursor: pointer;
    background-color: rgb(28, 88, 150);
}

.new-review-header {
  font-weight: bold;
}

.review-input {
  font-family: "Arial", sans-serif;
  font-size: 16pt;
}

.icon-thumbs-up, .icon-thumbs-down {
  font-size: 90%;
  border: 0;
  padding: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  color: white;
  background-color: rgb(17, 68, 121);
  transition: background-color 0.25s;
  box-shadow: 0 0 0.1em #6495ED;
  border-radius: 0.2em;
}

.icon-thumbs-up:hover, .icon-thumbs-down:hover {
  cursor: pointer;
  background-color: rgb(28, 88, 150);
}

@media only (min-width: 600px) {
  .icon-star {
    display: none;
    margin-right: 0em;
  }

  .icon-star-empty {
    margin-right: 0em;
  }
}
