/* Grid Layout */

.wrapper {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 1em;
  margin-right: 1em;
}

.box {
  background-color: black;
  border: white;
  color: #fff;
  border-radius: 0.2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.dropdown-menu {
  grid-column: 1;
  grid-row: 1;
}

.new-review {
  grid-column: 2;
  grid-row: 1;
  justify-self: end;
}

.third-wrapper {
  grid-column: 1 / span 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1fr auto;
  grid-gap: 0.5em;
  box-shadow: 0 0 5px #888;
}

.date {
  grid-column: 1;
  grid-row: 1;
  padding-top: 0.5em;
}

.stars {
  grid-column: 2;
  grid-row: 1;
  justify-self: end;
  padding-top: 0.5em;
}

.comment {
  grid-column: 1 / span 2;
  grid-row: 2;
  align-self: center;
}

.helpful {
  grid-column: 1 / span 2;
  grid-row: 3;
  padding-bottom: 0.5em;
}

/* new-review */
.fourth-wrapper {
  grid-column: 1 / span 2;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 2.5fr auto;
  grid-gap: 0.5em;
  box-shadow: 0 0 5px #888;
}

.new-review-container {
  grid-column: 1 / span 2;
  grid-row: 1;
}

.submit-review {
  grid-column: 1;
  grid-row: 2;
}

.cancel-review {
  grid-column: 2;
  grid-row: 2;
  justify-self: end;
}

.dropdown-button {
  position: relative;
  width: auto;
}
/* Dropdown Content (Hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  width: 100%
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links in dropdown */
.dropdown-content a {
  color: blue;
  list-style-type: none;
  text-decoration: none;
  display: block;
  font-size: 90%;
  border: 0;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  padding-left: 0.9em;
  padding-right: 0.9em;
  color: white;
  background-color: rgb(17, 68, 121);
  transition: background-color 0.25s;
  box-shadow: 0 0 0.1em #6495ED;
  border-radius: 0.2em;
}

  /* change color of dropdown Links on hover */
.dropdown-content a:hover {
  cursor: pointer;
  color: white;
  font-weight: normal;
  background-color: rgb(28, 88, 150);
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content
container when the user clicks on the dropdown button)  */
.show {display:block;}

.review-button {
  font-size: 90%;
  border: 0;
  padding: 0.5em;
  color: white;
  background-color: rgb(17, 68, 121);
  transition: background-color 0.25s;
  box-shadow: 0 0 0.1em #6495ED;
  border-radius: 0.2em;
}

.review-button:hover {
    cursor: pointer;
    background-color: rgb(28, 88, 150);
}

.new-review-header {
  font-weight: bold;
}

.review-input {
  font-family: "Arial", sans-serif;
  font-size: 16pt;
}

.hilfreich-button {
  font-size: 90%;
  border: 0;
  padding: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  color: white;
  background-color: rgb(17, 68, 121);
  transition: background-color 0.25s;
  box-shadow: 0 0 0.1em #6495ED;
  border-radius: 0.2em;
}

.hilfreich-button:hover {
  cursor: pointer;
  background-color: rgb(28, 88, 150);
}
