/**
 * Stylesheet zur Klasse App: Hauptstylesheet der Anwendung.
 *
 * Hier sollten nur allgemeine Sachen stehen, die das Layout als Ganzes
 * betreffen. Also solche Dinge wie Schriftart und Größe, Farben sowie das
 * Layout im Allgemeinen betreffend.
 */
@import url('https://fonts.googleapis.com/css?family=Rubik');

/*
 * ALLGEMEINES
 */

html, body {
    padding: 0;
    margin: 0;

    min-height: 100%;
    height: 100%;
}

html {
    font-family: "Arial", sans-serif;
    font-size: 14pt;
    line-height: 1.6;
    /*Hintergrundfrabe*/
    background-color: black;
    /*Schriftfarbe*/
    color: white;

    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    --content-padding: 1rem;
}

@media (min-width: 40em) {
    html {
        font-size: 15pt;
    }
}

@media (min-width: 60em) {
    html {
        font-size: 16pt;
    }
}

@media (min-width: 80em) {
    html {
        font-size: 18pt;
    }
}

body {
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none !important;
}


/*
 * KOPFBEREICH
 */


header .content h1,
header .content h2,
header .content h3,
header .content h4,
header .content h5,
header .content h6 {
    margin: 0;
}

header .content h1 {
    color: black;
    text-shadow: 1px 1px 1px rgba(0,0,0, 0.2);
    font-size: 175%;
    text-align: center;
}

header .content h2 {
    font-size: 110%;
}

header .content h3,
header .content h4,
header .content h5,
header .content h6 {
    font-size: 110%;
}

/* Anpassung an große Bildschirme */
/* @media (max-width: 40em) {
    .small-screen-hidden {
        display: none;
    }
}

@media (min-width: 40em) {
    .small-screen-only {
        display: none !important;
    }

    .logo {
        display: inline-block !important;

        height: 2em;
        padding-right: var(--content-padding);
    }

    header nav,
    header nav .menu-right {
        display: flex;
    }

    header nav .menu-right li {
        padding-left: var(--content-padding);
    }

    header nav .menu-left {
        flex: 1;
    }
}

/*
 * HAUPTBEREICH
 */
main {
    padding: var(--content-padding);
    background: rgba(240,240,240, 0);
    flex: 1;
}

main a,
main a:visited {
    color: black;
    text-decoration: underline;
    transition: color 0.25s;
}

main a:hover {
    color: black;
    font-weight: 800;
}
nav ul {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}

nav li {
	list-style: none;
	padding: 0;
	font-size: 1.5em;
}

@media (min-width: 45em) {
	nav ul {
		flex-direction: row;
	}
	nav li {
		flex: 1;
		font-size: 1em;
	}
}

/*Navi neu */
.nav-open {
	display: none;
}

#nav {
	position: relative;
	float: left;
	width: auto;
	margin: 20px auto;
	background: #333;
	font-family: Arial, sans-serif;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 0 5px #888;
	-moz-box-shadow: 0 0 5px #888;
	box-shadow: 0 0 5px #888;
}

#nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#nav ul li {
	float: left;
}

#nav ul li.close {
	display: none;
}


#nav ul li a {
	padding: 10px 15px;
	display: block;
	color: #fff;
	text-decoration: none;
    border-radius: 5px;
}

#nav ul li a:hover {
	background: black;
	color: white;
    font-weight: bold;
}



@media screen and (max-width: 640px) {

.nav-open {
	position: fixed;
	top: 0;
	left: 0;
	background: #333;
	font-family: Arial, sans-serif;
	display: block;
	width: 100%;
}

.nav-open a {
	padding: 10px 15px;
	display: block;
	color: #fff;
	text-align: center;
	text-decoration: none;
}

#nav {
	position: fixed;
	top: -200%;
	left: 0;
	float: none;
	width: 100%;
	margin: 0;
	padding: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

#nav:target {
	top: 0;
}

#nav ul li {
	float: none;
	text-align: center;
	border-bottom: 1px solid #555;
}

#nav ul li.close {
	display: block;
}

#nav ul li:last-child {
	border-bottom: none;
}

}

/*Navigationsmenue*/

/* nav a {
	display: block;
	padding: 0.4em;
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	color: white;
	background-color: black;
	transition: all .25s ease-in;
    font-family: arial;
}

nav li[aria-current] a {
	background-color: firebrick;
	color: gold;

}

nav a:focus,
nav a:hover,
nav li[aria-current] a:focus,
nav li[aria-current] a:hover {
	color: black;
	background-color: white;
} */

.ueberschrift{
    position: relative;
    text-align: center;
    color: white;
}
.centered{
    position: absolute;
  top: 23%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 300%;
  font-family: Arial;
  font-weight: bold;
}

/*Fußzeile*/
footer {
  padding: 2px;
  bottom: 0;
  left: 0;
  right: 0;
  background: #333;
  font-size: 40%;
  color: white;
}
